{:deps {outskirtslabs/bb-tasks
        {:git/url "https://github.com/outskirtslabs/bb-tasks"
         :git/sha "9f7ba90a41f50a5de16075ec27793657532151af"}}
 :tasks
 {:requires ([ol.bb-tasks.sync-readme :as sync-readme])
  sync-readme
  {:doc "Sync top-level AsciiDoc docs into Antora pages."
   :task (sync-readme/sync-top-level-docs! {:antora-start-path "doc"})}
  gen-docs
  {:doc "Generate docs required by Antora."
   :depends [sync-readme]}}}
