{:deps {outskirtslabs/bb-tasks
        {:git/url "https://github.com/outskirtslabs/bb-tasks"
         :git/sha "b224881d5f6d4ae72c514faede9a5eb0b5f627a8"}}
 :tasks
 {:requires ([ol.bb-tasks.sync-readme :as sync-readme])
  sync-readme
  {:doc "Sync top-level AsciiDoc docs into Antora pages."
   :task (sync-readme/sync-top-level-docs! {:antora-start-path "doc"})}
  gen-docs
  {:doc "Generate docs required by Antora."
   :depends [sync-readme]}}}
